body{
    background: #f5f5fa;
}



.cute-img {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
}
/*整个大的页面布局*/
.all-main{
    width: 80%;
    margin: 0 auto;
}
/*左侧页面布局*/
.main-left {
    width: 73%;
    float: left;
    /*border: 1px solid #E6E6E6*/
}
/*右侧页面布局*/
.main-right {
    width: 26%;
    float: right;
    /*border: 1px solid #e6e6e6*/
}
/*半透明效果*/
.my-opacity{
    opacity: 0.5;
}

.m-mar-t-b-mini {
    margin: 10px 0px;
}

.my-padding-top-none {
    padding-top: 0;
}

.my-margin-left-mini {
    margin-left: 10px;
}

.my-margin-right-mini {
    margin-right: 10px;
}

.company-info {
    font-size: 14px;
    margin-top: 5px
}
.p-nomargin {
    margin: 0px;
    opacity: 0.5;
}

.bcy-buttons{
    background-color: #ff6fa2 !important;
    color: white !important;
}

.bcy-button-hover{
    background-color: #ff6fa2 !important;
    color: white !important;
}
.bcy-button-hover:hover{
    background-color: #e5e5e5 !important ;
    color: #a1a1a6 !important;
}